[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "22"

[[plugins]]
  package = "@netlify/plugin-nextjs"
  
[[redirects]]
  from = "http://mrinaljain.com/*"
  to = "https://mrinaljain.com/:splat"
  status = 301
  force = true
