/*junaid bhai CSS*/

body {
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

.landingHeader {}


/*.container{width: 1170px;}*/

.LandingHeaderrightNav ul li a {
  color: #fff;
}

.siginformWrapper,
.sigupformWrapper {
  display: none;
}

.siginform,
.sigupform {
  margin: 50px auto;
  float: none;
}

.siginform h2,
.sigupform h2 {
  font-weight: 600;
  color: #fff;
}

.siginform span,
.sigupform span {
  color: #fff;
}

.siginform input,
.sigupform input {
  height: 50px;
  margin-top: 15px;
}

.siginform input:focus,
.sigupform input:focus {
  background: #fff;
}

.signInBtn button,
.signUpFormBtn button {
  border-radius: 50px;
  font-size: 26px;
  font-weight: 600;
  padding: 5px 48px;
  margin: 15px 0px;
  width: 250px;
}

.siginformWrapper,
.sigupformWrapper {
  background-color: rgba(52, 85, 200, 0.50);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%
}

.forgotPassword,
.termsOfSignup {
  margin-bottom: 15px;
}

.forgotPassword a,
.termsOfSignup a {
  color: #fff;
  letter-spacing: 1px;
  text-decoration: underline;
  font-weight: 100;
}

.fbLoginBtn,
.fbSignUpBtn {
  margin: 15px 0px;
  padding: 0px;
}

.fbLoginBtn button:hover,
.fbSignUpBtn button:hover {
  background-color: #3b5998;
}

.fbLoginBtn button,
.fbSignUpBtn button {
  width: 100%;
  height: 50px;
  background: #3b5998;
  font-size: 24px;
  border: none;
}

.SignUpsugession,
.SignInsugession {
  color: #fff;
  font-weight: 100;
  font-size: 18px;
}

.SignUpsugession a,
.SignInsugession a {
  font-weight: 600;
  color: #ffcb17;
}

.contanctFormWrapper {
  margin: 0 auto 15px;
  float: none;
  background: #fff;
}

.contanctForm {
  margin-top: 30px;
}

.contanctFormWrapper input {
  height: 60px;
  background-color: #eaeaea;
  border: 1px solid #d8d8d8;
}

.contanctFormWrapper textarea {
  background-color: #eaeaea;
  border: 1px solid #d8d8d8;
}

.formHeading span {
  position: absolute;
  top: -40px;
  left: 0px;
  right: 0px;
  font-size: 144px;
  font-weight: 800;
  color: #7a7a7a;
  text-align: center;
  opacity: .1;
}

.formHeading h2 {
  font-size: 51px;
  margin-top: 100px;
  font-weight: 800;
}

.ContactSendBtn button {
  color: #000;
  font-size: 28px;
  border-radius: 50px;
  width: 200px;
  text-align: center;
  clear: both;
}

.Landingfooter {
  background-color: #3a5ede;
  padding: 15px;
  margin: auto;
  float: none;
  text-align: center;
  color: #fff;
  font-weight: normal;
}

.Landingfooter a {
  width: 107px;
  margin: auto;
  float: none;
  display: block;
}

.addressFooter span {
  color: #000;
}

.addressFooter {
  margin-top: 15px;
}

.addressFooter p {
  letter-spacing: 1px
}

.Atf_first {
  background: linear-gradient(to right, #3a5ede, #9c69fa);
  min-height: 638px;
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.06);
}

.backImg {
  background-image: url('../images/MapLanding.png');
  height: 620px;
  width: 1170px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  position: relative;
}

.V9_tagline {
  margin: auto;
  float: none;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 99;
  top: 50px
}

.V9_tagline h2 {
  font-size: 3.6em;
  font-weight: 900;
  line-height: 60px;
}

.V9_tagline h2 span {
  color: #fff;
}

.testimonialsImgs img {
  position: absolute;
  cursor: pointer;
}

.testimonialsImgs .tooltip.top .tooltip-arrow {
  border-top-color: #fff;
}

.testimonialsImgs .tooltip-inner {
  background-color: #fff;
  color: #000;
}

.testimonialsImgs img.img_01 {
  right: 50px;
  top: 10px;
}

.testimonialsImgs img.img_02 {
  right: 100px;
  top: 200px;
}

.testimonialsImgs img.img_03 {
  right: 150px;
  bottom: 150px;
}

.testimonialsImgs img.img_04 {
  left: 10px;
  top: 281px;
}

.testimonialsImgs img.img_05 {
  right: 480px;
  bottom: 200px;
}

.testimonialsImgs img.img_06 {
  left: 230px;
  top: 270px;
}

.testimonialsImgs img.img_07 {
  right: 310px;
  top: 260px;
}

.testimonialsImgs img.img_08 {
  left: 330px;
  bottom: 160px;
}

.testimonialsImgs img.img_09 {
  left: 0px;
  top: 100px;
}

.SignUpBtn {
  position: absolute;
  bottom: 90px;
  margin: auto;
  float: none;
  left: 0px;
  right: 0px;
  text-align: center;
}

.SignUpBtn button {
  border-radius: 50px;
  font-size: 30px;
  text-transform: uppercase;
  padding: 5px 25px 5px 25px;
  font-size: 22px;
}


/*junaid bhai CSS*/


/*abhinav css*/

.first-text {
  text-align: center;
  font-size: 40px;
}

.our {
  color: orange;
}

.tag-line {
  text-align: center;
  font-size: 22px;
}

.sponsor-logo {
  display: inline-block;
}

.dailyhunt {
  /*  height: 40px;*/
  width: 155px;
}

.ucHike {
  display: block;
}

.newsR {
  /*  height: 40px;*/
}

.jio {
  height: 60px;
}

.dnews {
  height: 30px;
}

.news360 {
  height: 70px;
}

.newsdog {
  width: 38%;
}

.hike {
  /*  height: 50px;*/
  width: 120px;
}

.opera {
  height: 60px;
}

.zen {
  height: 60px;
  width: 60px;
}

.one {
  padding: 0 5%;
}

.two {
  margin-top: 10px;
  margin-left: 10px;
  padding: 0 5%;
}

.three {
  margin-top: 40px;
  margin-left: 10px;
}

.sign {
  margin: 30px auto;
  text-align: center;
  background-color: #f2f2f2;
  background-color: #f2f2f2;
  float: none;
  border: 2px solid #d6d6d6;
  margin-top: 40px;
  padding-bottom: 20px;
}

.sponsorlogo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.head {}

.money {
  color: orange;
}

.sign-in,
.join {
  margin: 0 15px;
}

.sign-in {
  background-color: #b2b2b2;
  color: #000000;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 6px;
}

.join {
  padding: 13px 30px;
  border-radius: 6px;
}

.btnone {
  text-align: right;
}

.btntwo {
  text-align: left;
}


/*abhinav css*/

.knowus {
  background-color: #ffffff;
}

.knowrights {
  padding: 0px 60px;
}

.knowus .heading {
  margin-bottom: 40px;
}

.knowus .userstat {}

.knowus .userstat .stat {
  text-align: center;
}

.knowus .userstat .stat .statcount {
  color: #101010;
  font-weight: 600;
  font-size: 2.2em;
}

.knowus .userstat .stat .statname {
  color: #4f4f4f;
  font-size: 1em;
  font-weight: 500;
}

.heading {
  margin-top: 20px;
  margin-bottom: 30px;
}

.heading .header-text {
  font-weight: bold;
  font-size: 3.1em;
  margin-bottom: 20px;
}

.heading .small-header-text {
  color: #292929;
  font-size: 1.4em;
}

.text-orange {
  color: #ea5f28;
}

.btn-purpel {
  margin: 0 auto;
  background-color: rgba(62, 35, 217, 0.68);
  border-radius: 4px;
  padding: 10px 36px;
  font-size: 1.7rem;
  font-weight: bold;
  border-bottom: solid 5px #3e23d9;
}

.btn-blue {
  margin: 0 auto;
  background-color: #4657d3;
  border-radius: 4px;
  padding: 10px 36px;
  font-size: 1.7rem;
  font-weight: bold;
  border-bottom: solid 5px #95b5ff;
}

.btn-white {
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px 36px;
  color: #626262;
  font-size: 1.7rem;
  font-weight: bold;
  border-top: solid 1px #626262;
  border-right: solid 1px #626262;
  border-left: solid 1px #626262;
  border-bottom: solid 5px #626262;
}

.btn-orange {
  background-color: #ea5f28;
}

.purpleup {
  position: relative;
  bottom: 70px;
}

.usergraph .graphimg {
  position: relative;
  background-image: url(../images/graph.png);
  height: 265px;
  background-size: cover;
  width: 100%;
}

.livetext {
  color: #101010;
  font-weight: 600;
  font-size: 2.2em;
}

.livetext-description {
  color: #666666;
  font-size: 1.4em;
}

.content {
  margin: 20% auto;
}

.postimg {
  background-image: url(../images/image4.png);
  width: 60%;
  height: 319px;
  margin: 0 auto;
  background-size: cover;
}

.featulul {}

.featulul li {
  list-style: none;
}

.cardhead {
  font-weight: 600;
  margin-bottom: 0px;
}

@media only screen and (max-width: 500px) {
  .sponsorlogo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .one,
  .two {
    text-align: left;
    padding: 0 15%;
    s
  }
  .two {
    margin-left: 0px;
  }
}
